body {
  background: rgb(0, 0, 0);
}
header {
  color: #42a5f5;
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-top: 10px;
}
.container {
  background: #0c2234;
  padding-top: 35px;
  padding-bottom: 65px;
  max-width: 100%;
  border-radius: 1px;
}
.weather-app {
  background: #0a3151;
  margin-top: 15px;
  padding: 15px;
  margin: 20px auto;
  margin-bottom: 5px;
  border-radius: 7px;
  max-width: 630px;
  max-height: 425px;
}
form {
  margin-top: 19px;
  margin-left: 15px;
  margin-right: 15px;
}
h2 {
  color: #e6d181;
  font-size: 35px;
  font-weight: 900;
  font-family: "Amatic SC", cursive;
  line-height: 25px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #c9d0df;
  font-size: 17px;
  font-weight: 200;
  height: 19px;
  line-height: 1.8;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-icon {
  height: 54px;
  width: 64px;
  margin-right: 10px;
}
.color {
  color: rgb(146, 199, 255);
  font-weight: bold;
}
#date {
  color: rgb(146, 199, 255);
}
#wind {
  color: rgb(146, 199, 255);
}
#humid {
  color: rgb(146, 199, 255);
}
.temp {
  color: rgb(255, 255, 255);
  font-size: 75px;
  font-weight: 450;
  line-height: 1;
}

.units {
  position: relative;
  top: -43px;
  font-size: 17px;
  color: rgb(146, 199, 255);
}

.search-form {
  margin-bottom: 20px;
}
.block-temp {
  text-align: center;
  position: relative;
  right: -320px;
  top: -126px;
}

.moon-icon {
  height: 260px;
  width: 270px;
  margin-right: 15px;
  margin-left: -130px;
  margin-bottom: 30px;
  margin-top: -411px;
  float: left;
}
footer {
  color: #42a5f5;
  text-align: center;
  font-size: 17px;
  font-weight: 800;
  padding-bottom: 15px;
  margin-top: 25px;
}
.map {
  background: hsl(49, 100%, 79%);
  display: block;
  margin-left: -3px;
  color: white;
  padding: 8px;
  font-size: 14px;
  border: 2px solid rgb(255, 255, 182);
  border-radius: 7px;
  box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.123);
  transition: all 200ms ease-in-out;
}

.map:hover {
  opacity: 0.9;
  cursor: pointer;
  border: 2px solid rgb(255, 196, 0);
  background: rgb(255, 227, 135);
  box-shadow: 5px 5px 10px rgba(253, 255, 143, 0.377);
}
.clearfix {
  margin-top: 5px;
}
.git-icon {
  height: 25px;
  width: 25px;
}
.git {
  background: rgb(217, 237, 253);
  display: block;
  margin: 0 auto;
  color: white;
  padding: 8px;
  font-size: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 35px;
  box-shadow: 5px 2px 5px rgba(217, 237, 253, 0.123);
  transition: all 200ms ease-in-out;
}
.git:hover {
  opacity: 0.9;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(0, 216, 173);
  box-shadow: 5px 5px 10px rgba(0, 216, 173, 0.767);
}
.code-link {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 550;
}

.info {
  margin-left: 15px;
  margin-right: 15px;
}
.weather-temperature .active {
  color: #fe7e29;
  cursor: default;
  font-weight: bold;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
  position: relative;
  top: -50px;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  padding-bottom: 2px;
  margin-right: 15px;
}
.weather-forecast-date {
  opacity: 0.8;
  font-size: 18px;
  text-align: center;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-temperature-min {
  color: rgb(0, 255, 221);
  opacity: 0.8;
  font-weight: 400;
}
.weather-forecast-temperature-max {
  font-weight: 500;
  color: #fe7e29;
}
.wf {
  position: relative;
  top: -100px;
  max-width: 94%;
}
hr {
  color: #0459d5;
  height: 2px;
  border-top: 3px double #0459d5;
  max-width: 99%;
  margin-bottom: 20px;
}
.forecast-block {
  background: #0a3151;
  border: 1px solid #0a3151;
  border-radius: 6px;
  padding: 2px 0px;
  margin: 2px 5px;
  max-width: 80px;
  margin: 0 auto;
  position: relative;
  top: -52px;
  transition: all 200ms ease-in-out;
}
.forecast-block:hover {
  background: rgba(112, 196, 202, 0.507);
}
